@using NBL.Models.ViewModels
@model IEnumerable<NBL.Models.ChequeDetails>
@{
    ViewBag.Title = "Pending Collection List";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var i = 0;
    var user = (ViewUser) Session["user"];
}

<section class="content">
    
    @if (user.Roles.Equals("SalesExecutive"))
    {
        <table id="table_receivable_list" class="display table-bordered" style="border: 1px solid black;width: 100%">
            <caption>
                <h3 class="text-center text-green headingStyle">Pending Collection List</h3>
            </caption>
            <thead>

            <tr>
                <th>S.N</th>
                <th>Collection Ref</th>
                <th>Client Name</th>
                <th>Source Bank Name</th>
                <th>Account No</th>
                <th>Cheque No</th>
                <th>Cheque Date</th>
                <th class="text-right">Amount (&#2547;) </th>
                <th class="text-center">Entry Date </th>
                <th class="text-center">Entry By </th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                i++;

                <tr>
                    <td>@i</td>
                    <td>@item.ReceivableRef</td>
                    <td>@Html.ActionLink(item.ClientInfo, "ViewClientProfile", "Home", new {id = item.ClientId}, null) </td>
                    <td>@item.SourceBankName</td>
                    <td>@item.BankAccountNo</td>
                    <td>@item.ChequeNo</td>
                    <td>@item.ChequeDate.Date.ToString("dd-MMMM-yyyy")</td>
                    <td class="text-right">@item.ChequeAmount.ToString("N2")</td>
                    <th class="text-center">@item.ReceivableDateTime.Date.ToString("dd-MMM-yyyy") </th>
                    <th class="text-center">@item.EntryByEmp </th>
                    <td class="text-center">
                        @if (item.ActiveStatus == 0)
                        {
                            <p class="fa fa-spinner text-warning"> Pending</p>
                        }
                        else if (item.ActiveStatus == 1)
                        {
                            <p class="fa fa-check text-success"> Approved</p>
                        }
                    </td>
                    <td>@Html.ActionLink(" Cancel", "Cancel", "SalesCollection", new {id = item.ChequeDetailsId}, new {@class = "fa fa-times text-red"}) </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7" class="text-right">Total </th>
                <th class="text-right">@Model.Sum(n => n.ChequeAmount).ToString("N2")</th>
                <th colspan="4"></th>
            </tr>
            <tr>
                <th>S.N</th>
                <th>Collection Ref</th>
                <th>Client Name</th>
                <th>Source Bank Name</th>
                <th>Account No</th>
                <th>Cheque No</th>
                <th>Cheque Date</th>
                <th class="text-right">Amount (&#2547;) </th>
                <th class="text-center">Entry Date </th>
                <th class="text-center">Entry By </th>
                <th class="text-center">Status</th>
                <th class="text-center">Action</th>
            </tr>
            </tfoot>
        </table>
    }
    else
    {
        @Html.Partial("_ViewCollectionListPartialPage",Model)
    }

</section>
@section Scripts
{
    <script>
        $('#table_receivable_list').DataTable({
            "lengthMenu": [[15, 30, 50, -1], [15, 30, 50, "All"]],
            responsive:true,
            "oLanguage": {
                "sEmptyTable": "<h4 style='color:green;font-weight:bolder;'>There is no receivable cheque or cash to active right now !</h4>"
            }
        });
    </script>
}
