@model NBL.Models.ViewModels.ViewClient
@{
    ViewBag.Title = "ClientLedger";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var aClient = Model;
}

<section class="content">
    <div class="panel panel-info">
        <div class="panel panel-heading"><strong style="font-weight: bolder;font-size: 20px">Client Information</strong></div>
        <div class="panel panel-body" style="margin: 0; padding: 0;font-weight: bolder">
            <div class="row">

                <div class="col-md-6">

                    <section>
                        <img src="~/@(aClient.ClientImage?? "Images/User.jpg")" height="120" width="100" style="float:left;margin-right:20px" title="@aClient.ClientName" />

                        <span>
                            @Html.Raw(aClient.GetMailingAddress())
                        </span>

                    </section>


                </div>
                <div class="col-md-6">
                    Outstanding: @if (aClient.Outstanding < 0)
                    {
                        <b>(@(aClient.Outstanding * -1))</b>
                    }
                    else
                    {
                        @aClient.Outstanding
                    }
                    <br />
                    Credit Limit: @aClient.CreditLimit<br />
                    Max Credit Days:@aClient.MaxCreditDay<br />
                </div>
            </div>

        </div>
    </div>

    <h3 class="text-center text-green" style="margin: 0;padding: 0">Ledger(@DateTime.Now.ToString("MMMM-yyyy")) </h3>
    @Html.Partial("_ClientLedgerPartialPage",Model)
    <div>
        @Html.ActionLink("Back to List", "Home", "Home", null, new { @class = "btn btn-danger fa fa-arrow-left" })
    </div>
</section>

