
@{
    ViewBag.Title = "Monthly Requisition";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="text-center text-green">Monthly Requisition</h3>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @if(TempData["message"] != null)
            {
                <p>@TempData["message"]</p>
            }
            <div class="form-horizontal">
                @using (Html.BeginForm("AddMonthlyRequisitionProductToXmlFile","Requisition",FormMethod.Post))
                {
                    <div class="form-group">
                        <label class="control-label col-md-3">Product Name : </label>
                        <div class="col-md-9">
                            <input type="text" name="ProductName" id="ProductName" class="form-control" placeholder="Type Product Name" required  autofocus/>
                            <input type="hidden" id="ProductId" name="ProductId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Quantity : </label>
                        <div class="col-md-9">
                            <input type="text" name="Quantity" id="Quantity" class="form-control" placeholder="Quantity" required min="1" value="1" onkeypress="javascript: return isNumber(event);"/>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <div class="btn-toolbar">
                              
                                
                                @Html.ActionLink(" Cancel","Home","SalesAdmin",null,new {@class="btn btn-danger"})
                                <input type="button" id="confirmRequisitionButton" value="Confirm" onclick="ConfirmRequisition(this)" class="btn btn-success "/>
                                <input type="button" id="addItemButton" value="Add" onclick="AddProduct(this)" class="btn btn-primary "/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="MonthlyRequisitionProductList"></div>
</section>

@section Scripts
{
    
    <script>
        $(document).ready(function () {

            
            ViewTempList();
        });

        // WRITE THE VALIDATION SCRIPT.
        function isNumber(evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode;
            if (iKeyCode !== 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
                return false;

            return true;
        }
    </script>
    
    <script type="text/javascript">
        $(function () {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: RootUrl + 'common/ProductNameAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function(item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#ProductId").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
    
    @*Ajax form Submit*@
    <script>

        var productIdlist = [];
        function AddProduct(btnClicked) {
            var id = $("#ProductId").val();
            var a = $.inArray(id, productIdlist);
            if (a < 0) {
                productIdlist.push(id);
                //alert(str);
                var $form = $(btnClicked).parents('form');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddMonthlyRequisitionProductToXmlFile")',
                    data: $form.serialize(),
                    error: function (xhr, status, error) {
                        //do something about the error
                    },
                    success: function (response) {
                        //alert("Saved Successfully");
                        ViewTempList();

                    }
                });
                return false; // if it's a link to prevent post


            }
            else {
                alert("This Product already exits in the list");
            }


        }

        function RemoveProduct(btnClicked) {
            //alert(btnClicked.id);

            var result = confirm("Are you sure to remove this product ??");
            if (result) {
                //Logic to delete the item
                var productId = btnClicked.value;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateMonthlyRequsiton")',
                    data: { productId: productId },
                    success: function (data) {
                        for (var i = productIdlist.length - 1; i >= 0; i--) {
                            if (productIdlist[i] === btnClicked.value) {
                                productIdlist.splice(i, 1);
                            }
                        }
                        ViewTempList();
                    }
                });

            }
        }

        function ViewTempList() {


            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTempMonthlyRequsitionProductList")',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#MonthlyRequisitionProductList').html(data);
                    var qty = parseInt($("#total_quantity").val());
                    if (qty > 0) {
                        $("#confirmRequisitionButton").removeAttr('disabled');
                    } else {
                        $("#confirmRequisitionButton").attr('disabled',true);
                    }
                }
            });
        }

        function ConfirmRequisition() {
            var result = confirm("Are you sure to Submit ?");
            if (result) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MonthlyRequisition")',
                   
                    success: function (data) {
                        ViewTempList();
                    }
                });
            }
        }
    </script>
}
