@model IEnumerable<NBL.Models.ViewModels.Orders.ViewSoldProduct>
@{
    ViewBag.Title = "Folio List";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var i = 0;
}

<section class="content">
    

    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">Folio List</div>
        <div class="panel panel-body">
            <div class="table-responsive">
                <table class="display table-bordered" id="tbl_folio_list" style="border: 1px solid">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Delivery Ref</th>
                        <th class="text-center">Delivery Date</th>
                        <th>Client Name</th>
                        <th class="text-center">Sale Date</th>
                        <th class="text-center">Folio Entry Date</th>
                        <th class="text-center"> Entry By</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.ProductName</td>
                            <td>@item.BarCode</td>
                            <td>@item.DeliveryRef</td>
                            <td class="text-center">@item.DeliveryDate.ToString("dd-MMM-yyyy")</td>
                            <td>@item.ClientName</td>
                            <td class="text-center">@item.SaleDate.ToString("dd-MMM-yyyy")</td>
                            <td class="text-center">@item.FolioEntryDate.ToString("dd-MMM-yyyy")</td>
                            <td class="text-center">@item.FolioEntryBy</td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>S.N</th>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Delivery Ref</th>
                        <th class="text-center">Delivery Date</th>
                        <th>Client Name</th>
                        <th class="text-center">Sale Date</th>
                        <th class="text-center">Folio Entry Date</th>
                        <th class="text-center"> Entry By</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

   

</section>

@section Scripts
{
    <script>
        $("#tbl_folio_list").DataTable();
    </script>
}
