@model NBL.Models.ViewModels.Products.ViewProductHistory
@{
    ViewBag.Title = "ProductHistory";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var year = DateTime.Now.Year.ToString().Substring(2, 2);
}

<section class="content">



    <div class="panel panel-success">
        <div class="panel panel-heading"><span>Product History</span></div>
        <div class="panel panel-body">

            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <label class="control-label col-md-3"> Barcode</label>
                            <div class="col-md-9">
                                <input type="text" name="ProductBarCode" class="form-control" placeholder="Type barcdoe here..." required autofocus />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"> </label>
                            <div class="col-md-9">
                                <input type="button" onclick="location.href='@Url.Action("Home", "Home",new {area="Services"})'" value="Back" class="btn btn-danger" />

                                <input type="submit" value="Search" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>

    <table id="tbl_Barcode_history" class="table table-bordered">
        <tbody>
            <tr>
                <td><strong>Product Name :</strong> @Model.ProductName</td>
                <td><strong> Segment :</strong> @Model.ProductCategoryName</td>
                <td><strong>Barcode :</strong> @Model.ProductBarCode</td>


            </tr>
            @if (Model.ClientName != " ()")
            {
                <tr>
                    <td><strong>Delivered To Client Name :</strong> @Model.ClientName</td>
                    <td><strong> Delivery Date :</strong> @Model.DeliveryDate</td>
                    <td><strong>Delivery Ref :</strong> @Model.DeliveryRef</td>

                </tr>
            }

        </tbody>
    </table>

    <table id="tbl_transaction_details" class="display table-bordered table-responsive" style="border: 1px solid">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Product Segment</th>
                <th>Product Barcode</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Transaction Type</th>
                <th>Transaction Date</th>
                <th>Operation By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransactionDetailses)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCategory</td>
                    <td>@item.BarCode</td>
                    <td>@item.TransactionRef</td>
                    <td>@item.TransactionDescription</td>
                    <td>@item.TransactionType</td>
                    <td>@item.TransactionDate</td>
                    <td>@item.EmployeeInfo</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Product Name</th>
                <th>Product Segment</th>
                <th>Product Barcode</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Transaction Type</th>
                <th>Transaction Date</th>
                <th>Operation By</th>
            </tr>
        </tfoot>
    </table>
</section>
@section Scripts
{
    <script>
        $("#tbl_transaction_details").DataTable();
    </script>
}
@section Styles
{
    <style>
        .panel-heading span {
            color: black;
            font-weight: bolder;
            font-size: 18px;
        }

        .panel-body {
            padding: 0;
        }

        .form-control > input {
        }
    </style>
}
