@using System.Web.UI.WebControls
@model NBL.Models.ViewModels.Products.ViewCreateProductDetailsModel

@{
    ViewBag.Title = "Add Product Details";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var date = DateTime.Now.Date.ToString("dd-MMMM-yyyy");
}

<section class="content">
   

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 class="text-center text-green">Add Product Details</h3>
            @if (TempData["Result"] != null)
            {
                <div class="text-center">
                    @Html.Raw(TempData["Result"])
                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr/>
                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductId, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.ProductId, null, "--Select--", new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ProductId, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnitPrice, new {htmlAttributes = new {@class = "form-control",placeholder="Enter product unit price..", onkeypress = "if ( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" } })
                            @Html.ValidationMessageFor(model => model.UnitPrice, "", new {@class = "text-danger"})
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="UpdatedDate" class="control-label col-md-2">Joining Date</label>
                        <div class="col-md-10">
                            <input type="text" id="UpdatedDate" name="UpdatedDate" value="@date" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="~/editor" class="btn btn-danger">Cancel</a>

                            <input type="submit" value="Save" class="btn btn-info"/>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
@section Scripts
{
    <script>
        $(document).ready(function() {
            $("#UpdatedDate").datepicker({ dateFormat: 'dd-MM-yy' });
        });
    </script>
}
