
@using NBL.Models.ViewModels
@model NBL.Models.ViewModels.Summaries.SummaryModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var user = (ViewUser)Session["user"];
    var delivered = Model.TotalDeliveredQuantity;
    var production = Model.Production;
    var tOrder = Model.TotalOrder;
    var collection = Model.ViewTotalCollection;
    var saleValue = Model.ViewTotalSaleValue;
}
@if (!user.IsPasswordChangeRequired)
{
    <section class="content" style="background-color: aliceblue">

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3 style="font-size: 20px">&#2547; @Model.AccountSummary.TotalSaleValue.ToString("N")</h3>
                        <p>TOTAL SALE AMOUNT</p>
                    </div>
                    <div class="icon">
                        &#2547;
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 style="font-size: 20px">&#2547; @Model.AccountSummary.TotalCollection.ToString("N")</h3>
                        <p>TOTAL COLLECTION AMOUNT</p>
                    </div>
                    <div class="icon">
                        &#2547;
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">

                        <h3 style="font-size: 20px">&#2547; @Model.AccountSummary.TotalOrderedAmount.ToString("N")</h3>
                        <p>TOTAL ORDERED AMOUNT</p>
                    </div>
                    <div class="icon">
                        &#2547;
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3 style="font-size: 20px">@Model.AccountSummary.CollectionPercentageOfSale.ToString("N") (%)</h3>
                        <p>COLLECTION</p>
                    </div>
                    <div class="icon">
                        &#2547;
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        @*<div class="panel panel-default">
            <div class="panel panel-body" style="margin-bottom: 0">
                <div class="row">
                    <marquee behavior="scroll" direction="left"><h4 class="text-green" style="margin: 0; padding-bottom: 5px;">Today's (@DateTime.Now.ToString("dd-MMM-yyyy")) total sales: 4,00000&#2547;&nbsp; ,Collection:50,00000&#2547;&nbsp;, Expence:3,50000&#2547;</h4></marquee>
                </div>
            </div>
        </div>*@
        @*<div class="box">

            <div class="box-body">
                <a class="btn btn-app" href="@Url.Action("Stock", "Home", new {area = "Management"}, null)">
                    <span class="badge bg-green" style="font-size: 14px">@Model.Products.Sum(n => n.StockQuantity)</span>
                    <i class="fa fa-barcode"></i> Product
                </a>
                <a class="btn btn-app">
                    <span class="badge bg-red" style="font-size: 14px">@Model.DelayedOrders.ToList().FindAll(n => n.Status.Equals(1)).Count</span>
                    <i class="fa fa-bullhorn"></i> Delayed
                </a>
                <a class="btn btn-app">
                    <span class="badge bg-teal" style="font-size: 14px">@Model.DelayedOrders.ToList().FindAll(n => n.Status.Equals(1)).Count</span>
                    <i class="fa fa-spinner fa-spin"></i> Order Verifing
                </a>
                <a class="btn btn-app" href="@Url.Action("PendingOrders", "Home", new {area = "Management"}, null)">
                    <span class="badge bg-yellow" style="font-size: 14px">@Model.PendingOrders.Count()</span>
                    <i class="fa  fa-spinner"></i> Pending Order
                </a>
                <a class="btn btn-app" href="@Url.Action("AllOrders", "Home", new {area = "Management"}, null)">
                    <span class="badge bg-teal" style="font-size: 14px">@Model.Orders.ToList().Count</span>

                    <i class="fa fa-shopping-cart"></i> Total
                </a>
                <a class="btn btn-app" href="@Url.Action("ViewClient", "Home", new {area = "Management"}, null)">
                    <span class="badge bg-purple" style="font-size: 14px">@Model.Clients.Count()</span>
                    <i class="fa fa-users"></i> Client
                </a>
                <a class="btn btn-app" href="@Url.Action("ViewEmployee", "Home", new {area = "Management"}, null)">
                    <span class="badge bg-teal" style="font-size: 14px">@Model.Employees.Count()</span>
                    <i class="fa fa-users"></i> Employee
                </a>
            </div>
             /.box-body 
        </div>*@
        <div class="row">
            <div class="col-md-6">
                @*@Html.Partial("_ViewSalesReportChartPartialPage", Model.TotalOrder)*@
                
                @*<div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Total Order (@DateTime.Now.Year)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <canvas id="barchart" height="255" width="600"></canvas>
                    </div>
                </div>*@
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sales VS Collection (@DateTime.Now.Year)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="bar-chart-sales-vs-collection" style="height: 350px;"></div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Production VS Sale (@DateTime.Now.Year)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="bar-chart" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
           
            <!-- /.col -->
        </div>
        <!-- /.row -->
        @*<img src="@Url.Action("MyChart")" alt="Simple Chart"/>*@
        <div class="row">
            <div class="col-md-6">
                <!-- TABLE: Top clients -->
                <div class="box box-success">
                    <div class="box-header with-border" style="background-color: #00A65A;color: white">
                        <h3 class="box-title">Top 10 Clients (@DateTime.Now.Year) by Debit</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus" style="color: white"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times" style="color: white"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin">
                          
                                <tbody>
                                @foreach (var client in Model.TopClients)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(client.CommercialName,"ClientProfile","Home",new { area = "Management",id =client.ClientId},null)
                                        </td>
                                        <td class="text-right">&#2547; @client.TotalDebitAmount.ToString("N")</td>
                                    </tr>
                                }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer clearfix">

                        <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-right">View All</a>
                    </div>
                    <!-- /.box-footer -->
                </div>

                <!-- /.box -->
            </div>
            <div class="col-md-6">
                <!-- TABLE: Popular batteries -->
                @Html.Partial("_ViewPopularBatteriesPartialPage", Model.TopProducts)
                <!-- /.box -->
            </div>
        </div>
    </section>
@section Scripts
{
    @*Reload page after 1 minute *@
    <script type="text/javascript">
        var timeout = setTimeout("location.reload(true);", 60000);

        function resetTimeout() {
            clearTimeout(timeout);
            timeout = setTimeout("location.reload(true);", 60000);
        }
    </script>

    <script>
        $(function() {
            //Initialize Select2 Elements
            $('.select2').select2();

        })
    </script>
    
    <script>
        $(function() {
            "use strict";

            //BAR CHART
            var bar = new Morris.Bar({
                element: 'bar-chart',
                resize: true,
                data: [
                    { y: 'January', a: @production.January, b: @delivered.January },
                    { y: 'February', a: @production.February, b: @delivered.February },
                    { y: 'March', a: @production.March, b: @delivered.March },
                    { y: 'April', a: @production.April, b: @delivered.April },
                    { y: 'May', a: @production.May, b: @delivered.May },
                    { y: 'June', a: @production.June, b: @delivered.June },
                    { y: 'July', a: @production.July, b: @delivered.July },
                    { y: 'August', a: @production.August, b: @delivered.August },
                    { y: 'September', a: @production.September, b: @delivered.September },
                    { y: 'October', a: @production.October, b: @delivered.October },
                    { y: 'November', a: @production.November, b: @delivered.November },
                    { y: 'December', a: @production.December, b: @delivered.December }
                ],
                barColors: ['#00a65a', '#f56954'],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Production', 'Sale'],
                hideHover: 'auto'
            });
        });
       
    </script>
    
    <script>
        $(function() {
            "use strict";

            //BAR CHART
            var bar = new Morris.Bar({
                element: 'bar-chart-sales-vs-collection',
                resize: true,
                data: [
                    { y: 'January', a: @saleValue.January, b: @collection.January },
                    { y: 'February', a: @saleValue.February, b: @collection.February },
                    { y: 'March', a: @saleValue.March, b: @collection.March },
                    { y: 'April', a: @saleValue.April, b: @collection.April },
                    { y: 'May', a: @saleValue.May, b: @collection.May },
                    { y: 'June', a: @saleValue.June, b: @collection.June },
                    { y: 'July', a: @saleValue.July, b: @collection.July },
                    { y: 'August', a: @saleValue.August, b: @collection.August },
                    { y: 'September', a: @saleValue.September, b: @collection.September },
                    { y: 'October', a: @saleValue.October, b: @collection.October },
                    { y: 'November', a: @saleValue.November, b: @collection.November },
                    { y: 'December', a: @saleValue.December, b: @collection.December }
                ],
                barColors: ['#00a65a', '#f56954'],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Sale', 'Collection'],
                hideHover: 'auto'
            });
        });
       
    </script>

    <script>

        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",
                    data: [@tOrder.January, @tOrder.February, @tOrder.March, @tOrder.April, @tOrder.May, @tOrder.June, @tOrder.July, @tOrder.August, @tOrder.September, @tOrder.October, @tOrder.November, @tOrder.December]
                }

            ]

        }
        window.onload = function () {
            //var ctx = document.getElementById("chart-area").getContext("2d");
            //window.myPie = new Chart(ctx).Pie(pieData);


            var ctx1 = document.getElementById("barchart").getContext("2d");
            window.myBar = new Chart(ctx1).Bar(barChartData, {
                responsive: true
            });

        };
    </script>

}
}