@using NBL.Models.ViewModels

@*Factory Menu*@
@{
    var user = (ViewUser)Session["user"];
}
@if (!user.IsPasswordChangeRequired)
{
    <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Store</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink(" Production Summary", "ProductionSummary", "Home", new {area = "Production"}, new {@class = "fa fa-eye"})</li>
                <li>@Html.ActionLink(" Stock", "Stock", "Home", new {area = "Production"}, new {@class = "fa fa-eye"})</li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Delivery</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @*<li>@Html.ActionLink(" Issue Transfer", "Issue", "Transfer", new { area = "Factory" }, new { @class = "fa fa-pencil" })</li>
                <li>@Html.ActionLink(" Transfer Issue Lsit", "PendingTransferIssueList", "Approve", new { area = "Factory" }, new { @class = "fa fa-pencil" })</li>*@
                @*<li>@Html.ActionLink(" Deliverable Issue Lsit", "DeliverableTransferIssueList", "Delivery", new { area = "Factory" }, new { @class = "fa fa-pencil" })</li>*@
                <li>@Html.ActionLink(" Deliverable Trip Lsit", "TripList", "Delivery", new {area = "Production"}, new {@class = "fa fa-pencil"})</li>
                @*<li>@Html.ActionLink(" Transactions ", "Transactions", "Transfer", new { area = "Factory" }, new { @class = "fa fa-eye" })</li> *@
                @*<li>@Html.ActionLink(" Product Life Cycle ", "ProductLifeCycle", "Product", new { area = "Production" }, new { @class = "fa fa-eye" })</li>*@
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Products</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">

                @*<li>@Html.ActionLink(" Product Life Cycle ", "ProductLifeCycle", "Product", new {area = "ResearchAndDevelopment"}, new {@class = "fa fa-eye"})</li>*@
                <li>@Html.ActionLink(" Product Status ", "ProductStatus", "Home", new {area = "Production"}, new {@class = "fa fa-eye"})</li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-share"></i> <span>Reports</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Dispatch
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-file"></i> Daily Reports</a></li>
                        <li><a href="#"><i class="fa fa-file"></i>Monthly Reports</a></li>
                        <li><a href="#"><i class="fa fa-file"></i> Yearly Reports</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Stocks
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-list"></i>
                <span>View/Show</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("  Branch List", "ViewBranch", "Branch", new {area = "Production"}, new {@class = "fa fa-list"})</li>
            </ul>
        </li>
    </ul>
}