@model NBL.Models.ViewModels.Summaries.FactorySummaryModel
    @{
        var production = Model.Production;
        var dispatch = Model.Dispatch;
    }
<div class="col-md-12">
    <!-- BAR CHART -->
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Production VS Dispatch (@DateTime.Now.Year)</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div class="chart" id="bar-chart" style="height: 300px;"></div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- /.col -->
</div>
<script>

    var barChartData = {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets: [
            {
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [@production.January, @production.February, @production.March, @production.April, @production.May, @production.June, @production.July, @production.August, @production.September, @production.October, @production.November, @production.December]
            }

        ]

    }

    var dispatchBarchart = {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets: [
            {
                fillColor: "rgba(151,187,205,0.5)",
                strokeColor: "rgba(151,187,205,0.8)",
                highlightFill: "rgba(151,187,205,0.75)",
                highlightStroke: "rgba(151,187,205,1)",
                data: [@dispatch.January, @dispatch.February, @dispatch.March, @dispatch.April, @dispatch.May, @dispatch.June, @dispatch.July, @dispatch.August, @dispatch.September, @dispatch.October, @dispatch.November, @dispatch.December]
            }

        ]

    }
    var lineChartData = {
        labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        datasets : [
            {
                label: "My First dataset",
                fillColor : "rgba(220,220,220,0.2)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                pointHighlightFill : "#fff",
                pointHighlightStroke : "rgba(220,220,220,1)",
                data: [@dispatch.January, @dispatch.February, @dispatch.March, @dispatch.April, @dispatch.May, @dispatch.June, @dispatch.July, @dispatch.August, @dispatch.September, @dispatch.October, @dispatch.November, @dispatch.December]
            }
        ]

    }

    window.onload = function () {
        //var ctx = document.getElementById("chart-area").getContext("2d");
        //window.myPie = new Chart(ctx).Pie(pieData);


        var ctx1 = document.getElementById("barchart").getContext("2d");
        window.myBar = new Chart(ctx1).Bar(barChartData, {
            responsive: true
        });

        var ctx2 = document.getElementById("Dispatch_barchart").getContext("2d");
        window.myLine = new Chart(ctx2).Bar(dispatchBarchart, {
            responsive: true
        });
    };
</script>
<script>
    $(function () {
        "use strict";

        //BAR CHART
        var bar = new Morris.Bar({
            element: 'bar-chart',
            resize: true,
            data: [
                {y: 'January', a: @production.January, b: @dispatch.January},
                {y: 'February', a: @production.February, b: @dispatch.February},
                {y: 'March', a: @production.March, b: @dispatch.March},
                {y: 'April', a: @production.April, b: @dispatch.April},
                {y: 'May', a: @production.May, b: @dispatch.May},
                {y: 'June', a: @production.June, b: @dispatch.June},
                { y: 'July', a: @production.July, b: @dispatch.July },
                {y: 'August', a: @production.August, b: @dispatch.August},
                { y: 'September', a: @production.September, b: @dispatch.September },
                { y: 'October', a: @production.October, b: @dispatch.October },
                { y: 'November', a: @production.November, b: @dispatch.November },
                { y: 'December', a: @production.December, b: @dispatch.December }
            ],
            barColors: ['#00a65a', '#f56954'],
            xkey: 'y',
            ykeys: ['a', 'b'],
            labels: ['Production', 'Dispatch'],
            hideHover: 'auto'
        });
    });

</script>
