@model IEnumerable<NBL.Models.ViewModels.Services.ViewReceivedServiceProduct>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    

    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">All Received Service Battery</div>
        <div class="panel panel-body">
            <table id="tbl_Service_Products" class="display table-bordered" style="border: 1px solid">
                <thead>
                <tr>
                    <th> Receive Ref</th>
                    <th> Received At</th>
                    <th> Receive Date</th>
                    <th> Product Name</th>
                    <th> Barcode</th>
                    <th> Has Warranty</th>
                    <th> Primary Test</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReceiveRef</td>
                        <td>@item.ReceiveByBranch</td>
                        <td>@item.ReceiveDatetime</td>
                        <td>@item.ProductName (@item.ProductCategoryName)</td>
                        <td>@item.Barcode</td>
                        <td class="text-center">@item.HasWarranty</td>
                        <td>@item.PrimaryTestResult</td>
                        <td class="text-center">

                            @if (item.Status == 0)
                            {
                                @Html.ActionLink(" Forward", "Forward", "WarrantyBattery", new {id = item.ReceiveId}, new {@class = "fa fa-paper-plane btn btn-info"})
                            }
                            @Html.ActionLink(" BSR", "PrintChallan", "WarrantyBattery", new {id = item.ReceiveId}, new {@class = "fa fa-print btn btn-info", target = "_blank" })
                        </td>
                    </tr>
                }
                <tfoot>
                <tr>
                    <th> Receive Ref</th>
                    <th> Received At</th>
                    <th> Receive Date</th>
                    <th> Product Name</th>
                    <th> Barcode</th>
                    <th> Has Warranty</th>
                    <th> Primary Test</th>
                    <th class="text-center">Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        $("#tbl_Service_Products").DataTable();
    </script>
}
