@model IEnumerable<NBL.Models.ViewModels.Services.ViewReceivedServiceProduct>
@{
    ViewBag.Title = "Charege Report";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="text-center text-green"> Service Battery In Charge Station</h3>
    <table id="tbl_Service_Products" class="display table-bordered" style="border: 1px solid">
        <thead>
        <tr>
            <th>  Receive Ref</th>
            <th>  Receive Date</th>
            <th>  Product Name</th>
            <th>  Segment</th>
            <th>  Barcode</th>
            <th>  Status</th>
            <th class="text-center">Action</th>
        </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReceiveRef</td>
                <td>@item.ReceiveDatetime</td>
                <td>@item.ProductName</td>
                <td>@item.ProductCategoryName</td>
                <td>@item.Barcode</td>
                <td>@item.Status</td>
                <td class="text-center">
                    @Html.ActionLink(" Charge Report", "ChargeReport", "WarrantyBattery", new { id = item.ReceiveId }, new { @class = "fa fa-edit btn btn-info" })
                </td>
            </tr>
        }
        <tfoot>
        <tr>
            <th>  Receive Ref</th>
            <th>  Receive Date</th>
            <th>  Product Name</th>
            <th>  Segment</th>
            <th>  Barcode</th>
            <th>  Status</th>
            <th class="text-center">Action</th>
        </tr>
        </tfoot>
    </table>
</section>
@section Scripts
{
    <script>
        $("#tbl_Service_Products").DataTable();
    </script>
}
