@model IEnumerable<NBL.Models.ViewModels.Services.ViewReceivedServiceProduct>
@{
    ViewBag.Title = "Discharege Report";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    

    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">Claimed Battery In Discharge Station</div>
        <div class="panel panel-body">
            <table id="tbl_Service_Products" class="display table-bordered" style="border: 1px solid">
                <thead>
                <tr>
                    <th> Receive Ref</th>
                    <th> Receive At</th>
                    <th> Receive Date</th>
                    <th> Forward Date</th>
                    <th> Forward Duration</th>
                    <th> Product Name</th>
                    <th> Has Warranty</th>
                    <th> Barcode</th>
                    <th> Charge Report</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReceiveRef</td>
                        <td>@item.ReceiveByBranch</td>
                        <td>@item.ReceiveDatetime</td>
                        <td>@item.ForwardDatetime</td>
                        <td class="text-center"><strong>@((item.ForwardDatetime.Date - item.ReceiveDatetime.Date).Days) (Days)</strong></td>
                        <td>@item.ProductName (@item.ProductCategoryName)</td>
                        <td class="text-center">@item.HasWarranty</td>
                        <td>@item.Barcode</td>
                        <td>@item.ChargerReport</td>
                        <td class="text-center">
                            @Html.ActionLink(" Discharge Report", "DisChargeReport", "WarrantyBattery", new {id = item.ReceiveId}, new {@class = "fa fa-edit btn btn-info"})
                        </td>
                    </tr>
                }
                <tfoot>
                <tr>
                    <th> Receive Ref</th>
                    <th> Receive At</th>
                    <th> Receive Date</th>
                    <th> Forward Date</th>
                    <th> Forward Duration</th>
                    <th> Product Name</th>
                    <th> Has Warranty</th>
                    <th> Barcode</th>
                    <th> Charge Report</th>
                    <th class="text-center">Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

   
</section>
@section Scripts
{
    <script>
        $("#tbl_Service_Products").DataTable();
    </script>
}
