@model NBL.Models.EntityModels.Services.WarrantyBatteryModel

@{
    ViewBag.Title = "Receive";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
    var date = DateTime.Now.Date.ToString("dd-MMMM-yyyy");
}

<section class="content">
    
    <h3 class="text-center text-green">Receive Warranty Battery</h3>
<div class="form-horizontal">
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="Barcode" class="col-md-5 control-label">BarCode/BatchCode</label>
                <div class="col-md-7">
                    <input type="text" class="form-control" name="Barcode" id="Barcode" maxlength="13" placeholder="Type or Scan barcode/Batchcode..." autofocus onchange="GetProductHistory(this)" required/><span style="color: red">*</span>
                    @Html.HiddenFor(n=>n.DelivaryRef)
                </div>
            </div>
        </div>

    </div>

    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
        <li><a data-toggle="pill" href="#menu3">Primary Test</a></li>
        <li><a data-toggle="pill" href="#menu4">Service & Others</a></li>
    </ul>
  
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Product Information</span></div>
                <div class="panel panel-body">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>
                        <tr>
                            <td>
                                <strong>Product Name : </strong><i><label id="ProductName"></label></i>
                            </td>
                            <td>
                                <strong> Production Date : </strong> <i><label id="ProductionDate"></label></i>
                            </td>

                            <td>
                                <strong>Delivery Date : </strong><i><label id="DeliveryDate"></label></i>

                            </td>
                            <td>
                                <strong>Sale Date : </strong> <i><label id="SaleDate"></label></i>
                            </td>
                        </tr>
                        <tr style="">
                            <td>
                                <strong>Waarranty Period : </strong><i><label id="LifeTime"></label></i>,
                                <strong>Grace  Period : </strong><i><label id="GraceLifeTime">0</label></i>
                            </td>
                            <td>

                                @*<strong>Product Age : </strong><i><label id="ProductAge"></label></i>,*@
                                <strong>Remaining  Life : </strong><i><label id="RemainingLife"></label></i>
                            </td>
                            <td>
                                <strong>Store Duration :</strong><i><label id="StoreDuration"></label></i>
                            </td>
                            <td>
                                <strong>Sales Duration :</strong> <i><label id="SalesDuration"></label></i>
                            </td>

                        </tr>
                            
                        <tr>
                            <td colspan="4" class="text-center">
                                <strong style="color: red"><label id="WarrantyPeriod"></label></strong>

                            </td>
                        </tr>
               
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Client Information</span></div>
                <div class="panel panel-body">
                    <table  class="table table-bordered" style="width: 100%">
                        <tr>
                            <td>
                                <strong>Client Name :</strong> <i><label id="ClientName"></label></i>
                            </td>
                            <td>
                                <strong>Client Code :</strong> <i><label id="ClientCode"></label></i>
                            </td>
                            <td>
                                <strong>Client Type :</strong> <i><label id="ClientType"></label></i>

                            </td>
                            <td>
                                <strong>Contact No :</strong> <i><label id="ClientPhone"></label></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Client Address :</strong><i><label id="ClientAddress"></label></i>
                            </td>
                            <td>
                                <strong>Territory :</strong> <i><label id="Territory"></label></i>
                            </td>
                            <td>
                                <strong>Order By : </strong> <i><label id="OrderByBranch"></label></i>
                            </td>
                            <td>
                                <Strong> Distribution Point :</Strong> <i><label id="DistributionPoint"></label></i>

                            </td>

                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Verification</span></div>
                <div class="panel panel-body">
                   
                  
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>
                        <tr>
                            <td>
                                <label for="DelearReceiveDate" class="control-label"> Delear Receive Date</label>
                                <input type="text" id="DelearReceiveDate" value="@date" name="DelearReceiveDate" placeholder="dd-mm-yyyy"  class="form-control" onchange="GetDuraitionByDate(this)"/>
                            </td>
                            <td>
                                <label for="DelearReceiveDate" class="control-label"> Service Duration</label><br/>
                                 <i><label id="ServiceDuration"></label></i>
                            </td>
                            <td>
                                <label for="DelearReceiveDate" class="control-label"> Collection Duration</label><br />
                                <i><label id="CollectionDuration"></label></i>

                            </td>

                        </tr>
                        <tr>

                            <td colspan="3">
                                <strong>Remarks : </strong> <textarea id="VerificationRemarks" name="VerificationRemarks" placeholder="verificaiton remarks.." style="resize: none" class="form-control"></textarea>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div id="menu3" class="tab-pane fade">

            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Cell Information</span></div>
                <div class="panel panel-body">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>

                        <tr>

                            <td>
                                <strong>Cell 1 :</strong><input id="SpGrCellOne" name="SpGrCellOne" type="number" onchange="CalculateSpGrCellValueDifference(this)" onkeyup="CalculateSpGrCellValueDifference(this)" class="form-control" placeholder="Cell 1 Sp Gr " required/>
                                <input type="text" id="CellOneCondition" name="CellOneCondition" onkeypress="CellConditionAutoComplete(this)" placeholder="Cell 1 condition" class="form-control" required/>
                                @Html.HiddenFor(n => n.CellOneConditionId)
                            </td>
                            <td>
                                <strong>Cell 2 :</strong><input id="SpGrCellTwo" name="SpGrCellTwo" type="number" onchange="CalculateSpGrCellValueDifference(this)" onkeyup="CalculateSpGrCellValueDifference(this)" class="form-control" placeholder="Cell 2 Sp Gr" required/>
                                <input type="text" id="CellTwoCondition" name="CellTwoCondition" onkeypress="CellConditionAutoComplete(this)" placeholder="Cell 2 condition" class="form-control" required/>
                                @Html.HiddenFor(n => n.CellTwoConditionId)
                            </td>
                            <td>
                                <strong>Cell 3 :</strong><input id="SpGrCellThree" name="SpGrCellThree" type="number" onchange="CalculateSpGrCellValueDifference(this)" onkeyup="CalculateSpGrCellValueDifference(this)" class="form-control" placeholder="Cell 3 Sp Gr" required/>
                                <input type="text" id="CellThreeCondition" name="CellThreeCondition" onkeypress="CellConditionAutoComplete(this)" placeholder="Cell 3 condition" class="form-control" required />
                                @Html.HiddenFor(n => n.CellThreeConditionId)
                            </td>

                            <td>
                                <strong>Cell 4 :</strong><input id="SpGrCellFour" name="SpGrCellFour" type="number" onchange="CalculateSpGrCellValueDifference(this)" onkeyup="CalculateSpGrCellValueDifference(this)" class="form-control" placeholder="Cell 4 Sp Gr" required />
                                <input type="text" id="CellFourCondition" onkeypress="CellConditionAutoComplete(this)" name="CellFourCondition" placeholder="Cell 4 condition" class="form-control" required />
                                @Html.HiddenFor(n => n.CellFourConditionId)
                            </td>
                            <td>
                                <strong>Cell 5 :</strong><input id="SpGrCellFive" name="SpGrCellFive" type="number" onchange="CalculateSpGrCellValueDifference(this)" onkeyup="CalculateSpGrCellValueDifference(this)" class="form-control" placeholder="Cell 5 Sp Gr" required />
                                <input type="text" id="CellFiveCondition" name="CellFiveCondition" onkeypress="CellConditionAutoComplete(this)" placeholder="Cell 5 condition" class="form-control" required />
                                @Html.HiddenFor(n => n.CellFiveConditionId)
                            </td>
                            <td>
                                <strong>Cell 6 :</strong><input id="SpGrCellSix" name="SpGrCellSix" type="number" onchange="CalculateSpGrCellValueDifference(this)" onkeyup="CalculateSpGrCellValueDifference(this)" class="form-control" placeholder="Cell 6 Sp Gr" required/>
                                <input type="text" id="CellSixCondition" name="CellSixCondition" onkeypress="CellConditionAutoComplete(this)" placeholder="Cell 6 condition" class="form-control" required />
                                @Html.HiddenFor(n => n.CellSixConditionId)
                            </td>
                            <td>
                                <strong> SpGr Cell Value Difference :</strong> <input type="text" id="ViewSpGrCellValueDifference" class="form-control" readonly placeholder="SpGr Cell Value Difference...." />
                                <input type="hidden" id="SpGrCellValueDifference" name="SpGrCellValueDifference"/>
                            </td>

                        </tr>
                        <tr>

                        </tr>
                        <tr>
                            
                            <td colspan="3">
                                <strong>SpGr Remarks : </strong> <input id="SpGrCellRemarks" name="SpGrCellRemarks" type="text" style="width: 100%" class="form-control" placeholder="SpGr Cell Remarks..."/>
                            </td>
                            
                            <td> <strong>Open Voltage :</strong><input id="OpenVoltage" name="OpenVoltage" type="number"  style="width: 100%" class="form-control" placeholder="Open Voltage.."/></td>
                            <td> <strong>Load Voltage :</strong><input id="LoadVoltage" name="LoadVoltage" type="number"  style="width: 100%" class="form-control" placeholder="Load Voltage.." /></td>
                            <td colspan="2">
                                <strong>Voltage Remarks : </strong> <input id="VoltageRemarks" name="VoltageRemarks" type="text" style="width: 100%"  class="form-control" placeholder="Voltage Remarks..."/>
                            </td>
                        </tr>
                       
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Physical & Other Information</span></div>
                <div class="panel panel-body">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>

                            <tr>

                                <td>
                                    <strong>Cover :</strong><select name="CoverStatusId" class="form-control" required>
                                        <option value="">---Select--</option>
                                        @foreach (var item in Model.PhysicalConditions)
                                        {
                                            <option value="@item.Id">@item.Condition</option>
                                        }
                                    </select><span style="color: red">*</span>
                                </td>
                                <td>
                                    <strong>Container :</strong><select name="ContainerStatusId" class="form-control" required>
                                        <option value="">---Select--</option>
                                        @foreach (var item in Model.PhysicalConditions)
                                        {
                                            <option value="@item.Id">@item.Condition</option>
                                        }
                                    </select><span style="color: red">*</span>
                                </td>
                                <td>
                                    <strong>Post :</strong><select name="PostStatusId" class="form-control" required>
                                        <option value="">---Select--</option>
                                        @foreach (var item in Model.PhysicalConditions)
                                        {
                                            <option value="@item.Id">@item.Condition</option>
                                        }
                                    </select><span style="color: red">*</span>
                                </td>
                                <td>



                                    <strong>Servicing :</strong><select name="ServicingStatusId" class="form-control" required>
                                        <option value="">---Select--</option>
                                        @foreach (var item in Model.ServicingModels)
                                        {
                                            <option value="@item.Id">@item.ServicingStatus</option>
                                        }
                                    </select><span style="color: red">*</span>

                                </td>



                            </tr>
                        <tr>

                            <td> <strong>Application :</strong><input type="text" name="AppUsedFor" style="width: 100%" class="form-control" placeholder="Used For.." /> </td>
                            <td> <strong>Capacity :</strong><input type="text" name="AppCapacity" style="width: 100%" class="form-control" placeholder="Capacity..." /></td>
                            <td>
                                <strong>Charging System :</strong><select name="ChargingSystemId" required style="width: 100%" class="form-control">
                                    <option value="">---Select--</option>
                                    @foreach (var item in Model.ChargingStatus)
                                    {
                                        <option value="@item.Id">@item.ChargingStatus</option>
                                    }
                                </select><span style="color: red">*</span>

                            </td>
                            <td> <strong>Others :</strong><input type="text" name="OtherInformationRemarks" style="width: 100%" class="form-control" placeholder="Others..." /> </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <strong>Report By:</strong><input type="text" id="EmployeeName" style="width: 100%" required class="form-control" placeholder="type report by employee name.."/><span style="color: red">*</span>
                                @Html.HiddenFor(n => n.ReportByEmployeeId)
                            </td>
                            <td colspan="2"><strong>Comments :</strong><input type="text" style="width: 100%" name="ReceiveReport" class="form-control"  placeholder="Write comments..."/></td>


                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="menu4" class="tab-pane fade">

            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Service Information</span></div>
                <div class="panel panel-body">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>
                            <tr>

                                <td>
                                    <strong>Issue Date:</strong>

                                    <input type="text" id="ServiceBatteryDeliveryDate" name="ServiceBatteryDeliveryDate" placeholder="dd-mm-yyyy"  style="width: 100%" class="form-control" />

                                </td>
                                <td>
                                    <strong>Barcode :</strong><input type="text" style="width: 100%" name="ServiceBatteryBarcode" class="form-control" placeholder="type or scan barcode.."/>
                                </td>
                                <td>
                                    <strong>Return On:</strong>
                                    <input type="text" id="ServiceBatteryReturnDate" name="ServiceBatteryReturnDate" placeholder="dd-mm-yyyy"   style="width: 100%" class="form-control" />
                                </td>
                                <td>
                                    <strong>Remarks :</strong><input type="text" style="width: 100%" name="RbdRemarks" class="form-control"  placeholder="Remarks..."/>
                                </td>



                            </tr>
                        
                           
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Replace Information</span></div>
                <div class="panel panel-body">
                    <table class="table table-bordered" style="width: 100%">
                        <tbody>
                            <tr>

                                <td colspan="2"> <strong>Replace by Dealer:</strong><input type="text" placeholder="dd-mm-yyyy"  id="RbdDate" name="RbdDate"  class="form-control" /> </td>
                                <td colspan="2"> <strong>Barcode :</strong><input type="text" name="RbdBarcode" style="width: 100%" class="form-control" placeholder="Replace battery barcode .." /></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel panel-heading"><span>Forward Informaiton</span></div>
                <div class="panel panel-body">
                    <table class="table table-bordered" style="width: 100%">
                        <tr>


                            <td>
                                <strong>Forward To :</strong><select name="ForwardToId" required style="width: 100%" class="form-control">
                           
                                    @foreach (var item in Model.ForwardToModels)
                                    {
                                        <option value="@item.Id">@item.ForwardType</option>
                                    }
                                </select><span style="color: red">*</span>
                            </td>
                            <td> <strong>Remarks :</strong><input type="text" name="ForwardRemarks" style="width: 100%" class="form-control" placeholder="Forward remarks.." /> <span style="color: red">*</span> </td>
                            <td>
                        
                                <strong>Distribution Point  :</strong><input type="text" name="DistributionPoint" style="width: 100%" class="form-control" placeholder="Distribution Point .." />
                       
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <button class="btn btn-danger">Cancel</button>
                                <input type="submit" value="Save" class="btn btn-info" id="btnSubmitOff"/>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>



    }
</div>
@*<div id="divProductHistory"></div>*@

</section>

@section Scripts
{
    <script>
        $(function() {

            $("#btnSubmit").attr("disabled", true);
            $("#DelearReceiveDate").datepicker({
                dateFormat: 'dd-MM-yy',
                maxDate: '+0'
            });
            $("#ServiceBatteryDeliveryDate").datepicker({
                dateFormat: 'dd-MM-yy',
                maxDate: '+0'
            });

            $("#ServiceBatteryReturnDate").datepicker({
                dateFormat: 'dd-MM-yy',
                minDate: '+0'
            });
            $("#RbdDate").datepicker({
                dateFormat: 'dd-MM-yy',
                maxDate: '+0'
            });
            
            
        });

    </script>


    <script>
        function GetProductHistory(btnClicked) {
            //var $form = $(btnClicked).parents('form');
            var code = $("#Barcode").val();
            var json = { barcode: code };
            $.ajax({
                type: "POST",
                url: RootUrl + 'services/WarrantyBattery/GetProductHistoryByBarcode',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(json),
                error: function(xhr, status, error) {
                    alert(error);
                },
                success: function(response) {
                    //var result = response.Message;
                    //alert(response.ProductAge);
                    //$('#message').html(response).fadeIn('slow');
                    //$('#message').html(result).fadeIn('slow'); //also show a success message
                    //$('#message').delay(700).fadeOut('slow');
                    $('#ProductName').html(response.ProductName);
                    $('#DelivaryRef').html(response.DeliveryRef);
                    $('#ProductionDate').html(parseJsonDate(response.ProductionDate));
                    $('#LifeTime').html(response.LifeTime + ' Days');
                    $('#GraceLifeTime').html(response.AgeLimitInDealerStock + ' Days');
                    $('#ProductAge').html(response.ProductAge + ' Days');
                    $('#DeliveryDate').html(parseJsonDate(response.DeliveryDate));
                    $('#SaleDate').html(parseJsonDate(response.SaleDate));

                    $('#ClientName').html(response.ClientName);
                    $('#ClientCode').html(response.ClientCode);
                    $('#ClientType').html(response.ClientType);
                    $('#ClientPhone').html(response.ClientPhone);


                    $('#ClientAddress').html(response.ClientAddress);
                    $('#Territory').html(response.TerritoryName);
                    $('#OrderByBranch').html(response.OrderFromBranch);
                    $('#DistributionPoint').html(response.DeliveryFromBranch);

                    $('#StoreDuration').html(response.StoreDuration+' Days');
                    $('#SalesDuration').html(response.SalesDuration + ' Days');
                    $('#RemainingLife').html(response.RemainingLifeTime + ' Days');

                    if (response.ProductAge >= response.LifeTime + response.AgeLimitInDealerStock) {

                        $("#WarrantyPeriod")
                            .html(
                                "<i class='fa fa-exclamation-triangle' aria-hidden='true'></i> Warranty period was expired!!!");
                        $("#btnSubmit").attr("disabled", true);
                    } else if (response.ProductAge < response.LifeTime) {
                        $('#btnSubmit').attr("disabled", false);
                        $("#WarrantyPeriod")
                            .html("");
                    }
                    
                }
            });
        }

        function GetDuraitionByDate(event) {
            var date = event.value;
            var code = $("#Barcode").val();
            var json = { dealerReceiveDate: date, barcode: code };
       
            $.ajax({
                type: 'Post',
                url: RootUrl + "services/WarrantyBattery/ServiceDurationByDate",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(json),
                success: function(response) {
                    $('#ServiceDuration').html(response.ServiceDuration + ' Days');
                    $('#CollectionDuration').html(response.CollectionDuration + ' Days');
                }
            });
        }

        function parseJsonDate(jsonDate) {

            var fullDate = new Date(parseInt(jsonDate.substr(6)));
            var twoDigitMonth = (fullDate.getMonth() + 1) + ""; if (twoDigitMonth.length === 1) twoDigitMonth = "0" + twoDigitMonth;

            var twoDigitDate = fullDate.getDate() + ""; if (twoDigitDate.length === 1) twoDigitDate = "0" + twoDigitDate;
            var currentDate = twoDigitDate + "-" + twoDigitMonth + "-" + fullDate.getFullYear();

            return currentDate;
        };
    </script>

    @*Cell Condition Autocomplete*@
    <script>

        function CellConditionAutoComplete(event) {
            // alert(event.id);
            $("#"+event.id).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: RootUrl + 'services/WarrantyBattery/CellConditionAutoComplete/',
                        // url: RootUrl + 'common/ProductAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function (item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    //alert(i.item.val);
                    //alert("#" + event.id + "Id");
                    $("#" + event.id + "Id").val(i.item.val);
                },
                minLength: 1
            });
        }
    </script>
    
    
    <script type="text/javascript">
        $(function () {
            $("#EmployeeName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url :'@Url.Action("ServiceEmployeeAutoComplete", "Common",new {area=""})',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function(item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#ReportByEmployeeId").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>

    <script>
        function CalculateSpGrCellValueDifference(event) {


            var gr1 = isNaN(parseFloat($("#SpGrCellOne").val())) ? 0 : parseFloat($("#SpGrCellOne").val());
            var gr2 = isNaN(parseFloat($("#SpGrCellTwo").val())) ? 0 : parseFloat($("#SpGrCellTwo").val());
            var gr3 = isNaN(parseFloat($("#SpGrCellThree").val())) ? 0 : parseFloat($("#SpGrCellThree").val());
            var gr4 = isNaN(parseFloat($("#SpGrCellFour").val())) ? 0 : parseFloat($("#SpGrCellFour").val());
            var gr5 = isNaN(parseFloat($("#SpGrCellFive").val())) ? 0 : parseFloat($("#SpGrCellFive").val());
            var gr6 = isNaN(parseFloat($("#SpGrCellSix").val())) ? 0 : parseFloat($("#SpGrCellSix").val());
           
            var cellGrValues = [gr1,gr2,gr3,gr4,gr5,gr6];


            var minCellGr= Math.min.apply(Math, cellGrValues);
            var maxCellGr = Math.max.apply(Math, cellGrValues);
            var diff = maxCellGr - minCellGr;
            //alert(diff);
            $("#SpGrCellValueDifference").val(diff);
            $("#ViewSpGrCellValueDifference").val(diff);
            
        }
    </script>
    <script>
        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
   
}
@section Styles
{
    <style>
        .panel-heading span {
            color:black;font-weight: bolder;font-size: 18px;
        }
        .panel-body {
            padding: 0;
        }
               
        .form-control > input {
            
        }
    </style>
}
