@using NBL.Models.Enums
@model IEnumerable<NBL.Models.ViewModels.Orders.ViewOrderHistory>
@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
   
    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-weight: bolder;font-size: 22px">Order History</div>
        <div class="panel panel-body">
            <table class="display table-bordered table-responsive" id="tbl_Order_History" style="border: 1px solid; width: 100%">
                <thead>
                <tr>
                    <th>Order Ref</th>
                    <th>Client Info</th>
                    <th>Order Date</th>
                    <th>Invoice Ref</th>
                    <th>Delivery Ref</th>
                    <th>Delivery Point</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.OrderRef</td>
                        <td>
                            <b>@item.ClientName</b><br/>
                            @item.BranchName
                        </td>
                        <td>@item.OrderDate.ToString("dd-MMM-yyyy")</td>
                        <td>@(item.InvoiceRef ?? "N/A")</td>
                        <td>@(item.DeliveryRef ?? "N/A")</td>
                        <td>
                            @{
                                if (item.DistributionCenterId == null)
                                {
                                    <span>N/A</span>
                                }
                                else
                                {
                                    @Enum.GetName(typeof(BranchEnum), item.DistributionCenterId)
                                }
                            }
                        </td>

                        <td class="text-center">@Enum.GetName(typeof(OrderStatus), item.OrderStatus)</td>
                        <td class="text-center">@Html.ActionLink(" Details", "OrderHistoryDetails", "Home", new {area = "SuperAdmin", id = item.OrderId}, new {@class = "fa fa-eye"})</td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <th>Order Ref</th>
                    <th>Client Info</th>
                    <th>Order Date</th>
                    <th>Invoice Ref</th>
                    <th>Delivery Ref</th>
                    <th>Delivery Point</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
        $("#tbl_Order_History").DataTable({
            "order":[[0,"desc"]]
        });
    </script>
}
