@model IEnumerable<NBL.Models.ViewModels.ViewBranch>
@{
    ViewBag.Title = "Transfer Employee";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-weight: bolder">Transfer Employee</div>
        <div class="panel panel-body">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="text-center">
                            @if (TempData["TransferMessage"] != null)
                            {
                                <p style="color:forestgreen">@Html.Raw(TempData["TransferMessage"])</p>
                            }
                            @if (TempData["TransferError"] != null)
                            {
                                <p style="color:orangered">@Html.Raw(TempData["TransferError"])</p>
                            }
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Employee Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Type employee name...." id="EmployeeName" name="EmployeeName" required />
                                <input type="hidden" id="EmployeeId" name="EmployeeId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Department</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Employee Department" id="Department" name="Department" readonly="readonly" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Designation</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Employee Designation" id="Designation" name="Designation" readonly="readonly" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">From Branch</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" placeholder="Employee Branch" id="Branch" name="Branch" readonly="readonly" />

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="ToBranchId" class="control-label col-md-3">To Branch Name</label>
                            <div class="col-md-9">
                                <select id="ToBranchId" name="ToBranchId" class="form-control" required>
                                    <option value="">--Select--</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.BranchId">@item.BranchName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Remarks</label>
                            <div class="col-md-9">
                                <textarea rows="3" id="Remarks" name="Remarks" class="form-control" placeholder="Transfer remarks..." style="resize: none" required></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                @Html.ActionLink("Back", "Home", "Home", new { area = "SuperAdmin" }, new { @class = "btn btn-danger" })
                                <input type="submit" value="Transfer" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                   
                </div>
            }
        </div>
    </div>
   
</section>

@section Scripts
{
    <script type="text/javascript">
    $(function () {
        $("#EmployeeName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url :'@Url.Action("EmployeeAutoComplete","Common",new {area=""})',
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data,
                            function(item) {
                                return item;
                            }));
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                $("#EmployeeId").val(i.item.val);
                var json = { employeeId: i.item.val };
                $("#Designation").val('');
                $("#Department").val('');
                $("#Branch").val('');
                $.ajax({

                    type: "POST",
                   url:'@Url.Action("GetEmployeeById", "Common", new { area = "" })',
                   // url: RootUrl + 'sales/Order/GetClientById/',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        var dept = data.DepartmentName;
                        var designation = data.DesignationName;
                        var branch = data.BranchName;

                        $("#Department").val(dept);
                        $("#Designation").val(designation);
                        $("#Branch").val(branch);

                        //alert(email);

                    }
                });

            },
            minLength: 1
        });
    });
</script>
}
