@using NBL.Models.ViewModels
@*Manager menu*@
@{
    var user = (ViewUser)Session["user"];
}
@if (!user.IsPasswordChangeRequired)
{
    <ul class="sidebar-menu" data-widget="tree" style="font-weight: bolder; font-size: 16px">

        <li class="treeview">
            <a href="#">
                <i class="fa fa-tachometer"></i>
                <span>Dashboard</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    @Html.ActionLink(" Dashboard-1 ", "Home", "Distributor", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Receive Product</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @*<li>@Html.ActionLink("  Store", "Index", "Product", new { area = "Sales" }, new { @class = "fa fa-list" })</li>*@
                @*<li>@Html.ActionLink(" Transfer", "Transaction", "Product", new { area = "Sales" }, new { @class = "fa fa-pencil", style = "font-weight: bolder" })</li>*@
                <li>@Html.ActionLink(" Factory Product ", "Receive", "Product", new {area = "Sales"}, new {@class = "fa fa-pencil", style = "font-weight: bolder"})</li>
                <li>@Html.ActionLink(" Transfered Product", "ReceiveTransferProduct", "Product", new {area = "Sales"}, new {@class = "fa fa-pencil", style = "font-weight: bolder"})</li>
                <li>@Html.ActionLink(" Seles Return Product", "PendingReturnList", "Return", new {area = "Sales"}, new {@class = "fa fa-pencil", style = "font-weight: bolder"})</li>
                <li>@Html.ActionLink(" General Return Product", "PendingGeneralReturnList", "Return", new {area = "Sales"}, new {@class = "fa fa-pencil", style = "font-weight: bolder"})</li>
                
                <li>@Html.ActionLink(" Received Product List", "ReceivedList", "Product", new { area = "Sales" }, new { @class = "fa fa-pencil", style = "font-weight: bolder" })</li>
            </ul>
        </li>
        
        
        <li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-cart"></i> <span>Delivery Product</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Orders
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" Latest Order List", "LatestOrderList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
                        <li>@Html.ActionLink(" Partial Delivered List", "PartialDeliveredOrderList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
                        <li>@Html.ActionLink(" Order List", "OrderList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
                        <li>@Html.ActionLink(" Delivered Orders by Date", "OrderListByDate", "Delivery", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
                    </ul>
                </li>
             
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Transfer
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" Transfer List", "TransferList", "Delivery", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
                    </ul>
                </li>
                
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Replace
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" Pending List", "WarrantyReplaceList", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                        <li>@Html.ActionLink("  Today's Replace List", "ReplaceList", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                        @*<li>@Html.ActionLink(" All Replace List", "AllReplaceLsit", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
    <li>@Html.ActionLink(" Warranty Replace List", "WarrantyReplaceList", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>*@
                    </ul>
                </li>
                
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Requisitions
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" General Requisition", "GeneralRequisitionList", "Requisition", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                        <li>@Html.ActionLink(" Delivered Requisition", "DeliveredGRequsition", "Requisition", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                    </ul>
                </li>
            </ul>
        </li>


        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>Orders</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink(" Latest Order List", "LatestOrderList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
                <li>@Html.ActionLink(" Partial Delivered List", "PartialDeliveredOrderList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
                <li>@Html.ActionLink(" Order List", "OrderList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
                <li>@Html.ActionLink(" Delivered Orders by Date", "OrderListByDate", "Delivery", new { area = "Sales" }, new { @class = "fa fa-list", style = "font-weight: bolder;" })</li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-shopping-cart"></i>
                <span>Transfer Product</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink(" Transfer List", "TransferList", "Delivery", new {area = "Sales"}, new {@class = "fa fa-list", style = "font-weight: bolder;"})</li>
            </ul>
        </li>*@
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Replace</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink(" Pending List", "ViewAll", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                <li>@Html.ActionLink("  Today's Replace List", "ReplaceList", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                <li>@Html.ActionLink(" All Replace List", "AllReplaceLsit", "Replace", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Requisitions</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink(" General Requisition", "GeneralRequisitionList", "Requisition", new {area = "Sales"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
            </ul>
        </li>*@

        <li class="treeview">
            <a href="#">
                <i class="fa fa-search"></i>
                <span>Search Barcode</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink(" Search", "ProductHistory", "Product", new { area = "Sales" }, new { @class = "fa fa-eye", style = "font-weight: bolder" })</li>
            </ul>
        </li>
      

        @Html.Partial("_MenuPartialPage")
    </ul>

}