@using NBL.Models.Enums
@model IEnumerable<NBL.Models.ViewModels.Orders.ViewOrder>
@{
    ViewBag.Title = ViewBag.Heading;
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}
<section class="content">
    <h3 class="headingStyle text-center text-green"></h3>
    

    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">@ViewBag.Heading</div>
        <div class="panel panel-body">
            <table id="table_Order_list" class="table table-bordered table-responsive" style="border: 1px solid black;width: 100%">

                <thead>
                    <tr>
                        <th>Client Info</th>
                        <th>Order Slip No</th>
                        <th class="text-right"> Amount (&#2547;)</th>
                        <th class="text-right">Qty</th>
                        <th class="text-center">Order At</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">View</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@Html.Raw(item.Client.GetBasicInformation())</td>
                            <td>@item.OrderSlipNo</td>
                            <td class="text-right">@item.Amounts</td>
                            <td class="text-right">@item.Quantity</td>
                            <td class="text-center">
                                @item.SysDate.ToShortTimeString(), @item.SysDate.ToString("dd-MMM-yyyy")
                            </td>
                            <td class="text-center">
                                @{

                                    @Enum.GetName(typeof(OrderStatus), item.Status)
                                }
                            </td>
                            <td class="text-center">
                                <button type="button" value="@item.OrderId" class="btn btn-success btn-sm" onclick="viewDetails(this)"><i class="fa fa-eye"></i> Details</button>
                            </td>
                        </tr>
                                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Client Info</th>
                        <th>Order Slip No</th>
                        <th class="text-right"> Amount (&#2547;)</th>
                        <th class="text-right">Qty</th>
                        <th class="text-center">Order At</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">View</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
  
    @Html.Partial("_ModalPartialPage")
</section>
@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <script>

        $('#table_Order_list').DataTable({
            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]]
        });

    </script>

    <script>

        function viewDetails(orderId) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ViewOrderDetails", "Common", new { area = "" })",
                data: { orderId: orderId.value },
                success: function (response) {
                    $('#modalBody').html(response);
                    $('#showOrderDetailsModal').modal('show');
                }
            });
        }

    </script>
}


