@model IEnumerable<NBL.Models.EntityModels.Deliveries.Delivery>
@{
    var i = 0;
}
<div class="table-responsive">
    <div class="table-responsive">
        <table id="table_Order_list" class="table table-bordered" style="border:1px solid black">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Client Info</th>
                <th class="text-right">Quantity</th>
                <th>Transportation</th>
                <th>Delivery Ref</th>
                <th class="text-center">Delivery Date</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>

            <tbody>

            @foreach (var item in Model)
            {

                i++;
                var aClient = item.Client;
                <tr>
                    <td>@i</td>
                    <td>
                        @*<img class="profile-user-img img-responsive img-circle" src="~/@(aClient.ClientImage?? "Images/User.jpg")" alt="Client Image" title="@aClient.ClientName"><br />*@
                        
                        @Html.ActionLink(aClient.ClientName,"ViewClientProfile", "Client", new { area = "Sales", id = aClient.ClientId }, null)
                    </td>
                    <td class="text-right">@item.Quantity</td>
                    <td title="@Html.Raw(item.Transport.GetBasicInformation())" class="text-center">
                        <a href="#">Show Transaction Info</a>
                    </td>
                    <td>@item.DeliveryRef</td>

                    <td class="text-center">

                        @item.SysDateTime.ToString("dd-MMMM-yyyy")
                    </td>

                    <td class="text-center">
                        @Html.ActionLink(" Barcode", "DeliveredBarCodeList", "Delivery", new {deliveryId = item.DeliveryId}, new {target = "_blank", @class = "fa fa-print"}) |
                        @Html.ActionLink(" Chalan", "Chalan", "Delivery", new {deliveryId = item.DeliveryId}, new {target = "_blank", @class = "fa fa-print"})|
                        @Html.ActionLink(" Invoice", "Invoice", "Delivery", new {deliveryId = item.DeliveryId}, new {target = "_blank", @class = "fa fa-print"})
                    </td>
                </tr>
            }

            </tbody>
            <tfoot>
            <tr>
                <th colspan="2" class="text-right">Total</th>
                <th class="text-right">@Model.Sum(n=>n.Quantity)</th>
                <th class="text-right">-</th>
                <th>-</th>
                <th class="text-center">-</th>
                <th class="text-center">-</th>
            </tr>
            <tr>
                <th>S.N</th>
                <th>Client Info</th>
                <th class="text-right">Quantity</th>
                <th>Transportation</th>
                <th>Delivery Ref</th>
                <th class="text-center">Delivery Date</th>
                <th class="text-center">Action</th>
            </tr>
            </tfoot>
        </table>

    </div>

</div>
<script>

    $('#table_Order_list').DataTable({
        "lengthMenu": [[15, 30,,50, -1], [15, 30,50, "All"]],
        "order": [[5, "desc"]],
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excel',
                text: 'Download as Excel',
                title: 'Delivery Summary',
                footer: true,
                exportOptions: {
                    columns: [0,1, 4,5,2]
                }
            },
            {
                extend: 'print',
                text: 'Print',
                footer: true,
                exportOptions: {
                    columns: [0, 1, 4, 5, 2]
                },
                title: 'Delivery Summary',
                customize: function (win) {
                    $(win.document.body)
                        .css('font-size', '10pt');

                    $(win.document.body).find('table')
                        .addClass('compact')
                        .css('font-size', 'inherit');
                }
            }
        ]
    });

</script>