@model IEnumerable<NBL.Models.ViewModels.Replaces.ReplaceReport>
    @{
        var i = 0;
    }
<table id="tbl_replace_list" class="display table-bordered" style="border: 1px solid">
    <thead>
    <tr>
        <th>S.N</th>
        <th>Reference</th>
        <th class="text-center">Entry Date</th>
        <th class="text-center">Delivery Date</th>
        <th>Client Name</th>
        <th>Product Name</th>
        <th>Barcode</th>
        <th class="text-center">Print Challan</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.TransactionRef</td>

            <td class="text-center">@item.EntryDateTime.ToString("dd-MMMM-yyyy")</td>
            <td class="text-center">@item.SystemDateTime.ToString("dd-MMMM-yyyy")</td>
            <td>@item.ClientName</td>
            <td>@item.ProductName</td>
            <td>@item.Barcode</td>
            <td class="text-center">@Html.ActionLink(" Print Challan", "PrintChallan", "Replace", new { id = item.ReceiveId, area = "Sales" }, new { target = "_blank", @class = "btn btn-info fa fa-print" })</td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>S.N</th>
        <th>Reference</th>
        <th class="text-center">Entry Date</th>
        <th class="text-center">Delivery Date</th>
        <th>Client Name</th>
        <th>Product Name</th>
        <th>Barcode</th>
        <th class="text-center">Print Challan</th>
    </tr>
    </tfoot>
</table>
