@model IEnumerable<NBL.Models.ViewModels.ViewProduct>
<div style="padding: 10px; margin: 10px; font-weight: bolder; height: 50px;border: 1px solid green"> Total Quantity : @Model.Sum(n => n.Quantity)</div>
<table id="table_product_list_in_stock" class="display table table-striped table-bordered" style="border:1px solid black">

    <thead>
    <tr>
        <th class="text-center">Product Name</th>
        <th class="text-center">Category </th>
        <th class="text-center">Account Code  </th>
        <th class="text-center" style="width: 60px">Stock Qty</th>
    </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td class="text-center">@item.ProductCategoryName</td>
            <td class="text-center">@item.SubSubSubAccountCode</td>
            <td class="text-center">@item.Quantity</td>
        </tr>
    }

    </tbody>
    <tfoot>
    <tr>
        <th class="text-center">Product Name</th>

        <th class="text-center">Category </th>
        <th class="text-center">Account Code  </th>
        <th class="text-center">Stock Qty</th>
    </tr>
    </tfoot>
</table>


<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
<script>

    $('#table_product_list_in_stock').DataTable({
        "lengthMenu": [[15, 30, 50, -1], [15, 30, 50, "All"]]
    });

</script>
