@model IEnumerable<NBL.Models.ViewModels.Logs.ViewWriteLogModel>
@{
    ViewBag.Title = "ErrorList";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="text-center text-green">Error List</h3>
    <div class="table-responsive">
        <table id="tbl_error_list" class="display table-bordered" style="border: 1px solid">
            <thead>
            <tr>
                <th>Heading</th>
                <th>Message</th>
                <th>Date Time</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-red">@item.Heading</td>
                    <td>
                        <h3  class="text-red">@item.CustomeMessage</h3>
                        @Html.Raw(item.LogMessage)
                    </td>
                    <td>@item.LogDateTime.ToString("F")</td>
                    <td class="text-center"><button id="@item.LogId" type='button' onclick='RemoveErrorById(this)' class='btn btn-default btn-sm'><i class='fa fa-times' style='color: red;'></i></button></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</section>

@section Scripts
{
    <script>
        $("#tbl_error_list").DataTable();

        function RemoveErrorById(btnClicked) {

            //alert(btnClicked.id);
            if (confirm("Are you sure to remove this exception ??")) {
                var id = btnClicked.id;
                var json = { id: id };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveErrorById", "ErrorLog",new {area="SuperAdmin"})',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {

                        location.reload();
                    }
                });
            }


        }
    </script>
}
