@using NBL.Models.ViewModels
@*Sales Menu*@
@{
    var user = (ViewUser)Session["user"];
}
@if (!user.IsPasswordChangeRequired)
{
    <ul class="sidebar-menu" data-widget="tree" style="font-size: 16px; font-weight: bolder;">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-tachometer"></i>
                <span>Dashboard</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>
                    @Html.ActionLink(" Dashboard-1 ", "Home", "Home", new {area = "Services"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})
                </li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> <span>Return/Replace</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @*<li class="treeview">
                <a href="#">
                    <i class="fa fa-circle-o"></i> Return
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>@Html.ActionLink(" Entry", "Entry", "Return", new { area = "Services" }, new { @class = "fa fa-plus", style = "font-weight: bolder" })</li>
                    <li>@Html.ActionLink(" View All", "ViewAll", "Return", new { area = "Services" }, new { @class = "fa fa-eye", style = "font-weight: bolder" })</li>


                </ul>
            </li>*@
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Replace
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" Entry", "Entry", "Replace", new {area = "Services"}, new {@class = "fa fa-plus", style = "font-weight: bolder"})</li>
                        <li>@Html.ActionLink(" Pending List", "ViewAll", "Replace", new {area = "Services"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>
                        <li>@Html.ActionLink(" Delivered List", "ReplaceList", "Replace", new {area = "Services"}, new {@class = "fa fa-eye", style = "font-weight: bolder"})</li>

                    </ul>
                </li>
            </ul>
        </li>


        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Folio Entry</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("  Folio Entry", "RetailSale", "Order", new {area = "CommonArea"}, new {@class = "fa fa-plus"})</li>
                <li>@Html.ActionLink("  Folio List", "FolioList", "Home", new {area = "Services"}, new {@class = "fa fa-plus"})</li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Warranty Battery</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("  Receive", "Receive", "WarrantyBattery", new { area = "Services" }, new { @class = "fa fa-plus" })</li>
                <li>@Html.ActionLink("  View All", "All", "WarrantyBattery", new { area = "Services" }, new { @class = "fa fa-eye" })</li>
                <li>@Html.ActionLink("  Discharge Report Entry", "ProductInDisChargeSection", "WarrantyBattery", new { area = "Services" }, new { @class = "fa fa-eye" })</li>
                <li>@Html.ActionLink("  Charge Report Entry", "ProductInChargeSection", "WarrantyBattery", new { area = "Services" }, new { @class = "fa fa-eye" })</li>
                
                <li>@Html.ActionLink("  Return List", "ReturnList", "WarrantyBattery", new { area = "Services" }, new { @class = "fa fa-eye" })</li>
                <li>@Html.ActionLink("  Replace List", "ReplaceList", "WarrantyBattery", new { area = "Services" }, new { @class = "fa fa-eye" })</li>
            </ul>
        </li>
        @*<li class="treeview">
            <a href="#">
                <i class="fa fa-product-hunt"></i>
                <span>Scrap Product</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li>@Html.ActionLink("  Entry", "SaveScrapProduct", "Scrap", new { area = "Services" }, new { @class = "fa fa-plus" })</li>

            </ul>
        </li>*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> <span>Reports</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Sales
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" All", "Report", "Reoprt", new {area = "Services"}, new {@class = "fa fa-file", style = "font-weight: bolder"})</li>
                        <li><a href="#"><i class="fa fa-file"></i>Monthly Reports</a></li>
                        <li><a href="#"><i class="fa fa-file"></i> Yearly Reports</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Clients
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>@Html.ActionLink(" All", "ViewAllClient", "Reoprt", new {area = "Services"}, new {@class = "fa fa-file", style = "font-weight: bolder"})</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Stocks
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-search"></i>
                <span>Search</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">

                @*<li>@Html.ActionLink(" Product Life Cycle ", "ProductLifeCycle", "Product", new {area = "ResearchAndDevelopment"}, new {@class = "fa fa-eye"})</li>*@
                <li>@Html.ActionLink(" Product Status ", "ProductStatus", "Home", new {area = "Services"}, new {@class = "fa fa-eye"})</li>
            </ul>
        </li>
        @Html.Partial("_MenuMyProfilePartialPage")
    </ul>

}