@model NBL.Models.ViewModels.ViewClient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">

    <div style="border: 1px solid">
        <div class="row">
            <h3 class="text-center text-green">Client Details</h3>
            <hr />
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ClientName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientName)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.ClientImage)
                    </dt>

                    <dd>
                        <img class="img-responsive" src="~/@(Model.ClientImage?? "Images/User.jpg")" alt="Client Image" title="@Model.ClientName" width="110" height="150">
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ClientSignature)
                    </dt>

                    <dd>
                        <img class="img-responsive" src="~/@(Model.ClientSignature?? "Images/sign.png")" alt="Client Signature " width="150" height="60">
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NationalIdNo)
                    </dt>

                    <dd>
                        @(Model.NationalIdNo?? "N/A")

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TinNo)
                    </dt>

                    <dd>
                        @(Model.TinNo ?? "N/A")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>

                    <dd>
                        @(Model.Address ?? "N/A")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>

                    <dd>
                        @(Model.Phone ?? "N/A")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.AlternatePhone)
                    </dt>

                    <dd>
                        @(Model.AlternatePhone ?? "N/A")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @(Model.Email ?? "N/A")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fax)
                    </dt>

                    <dd>
                        @(Model.Fax ?? "N/A")
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Website)
                    </dt>

                    <dd>
                        @(Model.Website ?? "N/A")
                    </dd>

                    

                   





                </dl>
            </div>
            <div class="col-md-6">
                <dl class="dl-horizontal">
                    <dt>
                        <span>Account Code</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.SubSubSubAccountCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BranchName)
                    </dt>

                    <dd>
                        @(Model.BranchName ?? "N/A")
                    </dd>
                    <dt>
                     <span> Client Type</span>
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ClientTypeName)
                    </dd>

                    <dt>
                        <span> Division</span>
                    </dt>

                    <dd>
                        @(Model.Division?.DivisionName ?? "N/A")
                    </dd>

                    <dt>
                        <span> District</span>
                    </dt>

                    <dd>
                        @(Model.District?.DistrictName ?? "N/A")
                    </dd>

                    <dt>
                        <span> Upazilla</span>
                    </dt>

                    <dd>
                        @(Model.Upazilla?.UpazillaName ?? "N/A")
                    </dd>

                    <dt>
                        <span> Post Office</span>
                    </dt>

                    <dd>
                        @(Model.PostOffice?.PostOfficeName ?? "N/A")
                    </dd>

                    <dt>
                        <span> Post Code</span>
                    </dt>

                    <dd>
                        @(Model.PostOffice?.Code ?? "N/A")
                    </dd>
                    
                </dl>
            </div>

        <p style="margin: 10px;">
            @Html.ActionLink("Back to List", "ViewClient", "Home", null, new { @class = "btn btn-danger" }) |
            @Html.ActionLink("Update", "Edit", "Client", new {id = Model.ClientId}, new {@class = "btn btn-success"}) 

        </p>
        </div>
    </div>
   

</section>