
@model IEnumerable<NBL.Models.ViewModels.FinanceModels.ViewReceivableDetails>
@{
    ViewBag.Title = "Activeted Receivable List";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}


<section class="content">
    <h3 class="text-center text-green">Activated Receivable List</h3>
    <table class="display table-bordered" id="tbl_Receivable_List" style="border: 1px solid">
        <thead>
            <tr>
                <th>Account Info</th>
                <th>Account Code</th>
                <th class="text-right">Amount</th>
                <th class="text-center">Date</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ToList())
            {
                <tr>
                    <td>@item.ClientInfo</td>
                    <td>@item.AccountCode</td>
                    <td class="text-right">@item.Amount.ToString("N2")</td>
                    <td class="text-center">@item.ActiveDate.ToString("dd-MMM-yyyy")</td>
                    <td class="text-center">
                        @Html.ActionLink(" Money Receipt", "MoneyReceipt", new { id = item.ChequeDetailsId }, new { target = "_blank", @class = "fa fa-print" })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Account Info</th>
                <th>Account Code</th>
                <th class="text-right">Amount</th>
                <th class="text-center">Date</th>
                <th class="text-center">Action</th>
            </tr>
        </tfoot>
    </table>
</section>

@section Scripts
{
    <script>
        $("#tbl_Receivable_List").DataTable();
    </script>
}
