@model NBL.Models.EntityModels.ChartOfAccounts.SubSubSubAccount
@{
    ViewBag.Title = "Add Sub Sub Sub Account";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <div class="panel panel-info">
        <div class="panel panel-heading" style="font-size: 22px;font-weight: bolder">Add Sub Sub Sub Account</div>
        <div class="panel panel-body">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountHeadCode, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.AccountHeadCode, null, "--Select--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AccountHeadCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubAccountCode, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.SubAccountCode, null, "--Select--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubAccountCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubSubAccountCode, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.SubSubAccountCode, null, "--Select--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubSubAccountCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubSubSubAccountCode, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(model => model.SubSubSubAccountCode, null, "--View Existing Account--", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.SubSubSubAccountCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubSubSubAccountName, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.SubSubSubAccountName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Sub Sub Account Name" } })
                                @Html.ValidationMessageFor(model => model.SubSubSubAccountName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" class="btn btn-info" />
                                @Html.ActionLink("Back","SubSubSubAccountList",new {area="AccountsAndFinance"},new {@class="btn btn-danger"})
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts
{
    @* Cascading dropdons implementations *@
    <script>

        $("#AccountHeadCode").change(function () {
        //var divId = $(this).val();
            var accountHeadCode = $(this).val();

        $("#SubAccountCode").empty();
        $("#SubSubAccountCode").empty();
        $("#SubSubSubAccountCode").empty();
        $("#SubAccountCode").append('<option value="">--Select--</option>');
        $("#SubSubAccountCode").append('<option value="">--Select--</option>');
        $("#SubSubSubAccountCode").append('<option value="">--View Existing Account--</option>');
        //var json = { divisionId: divId };
        var json = { accountHeadCode: accountHeadCode };
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSubAccountByheadCode", "ChartOfAccount", new { area = "AccountsAndFinance" })',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function (data) {


                $.each(data, function (key, value) {
                    //alert(key);
                    $("#SubAccountCode").append('<option value=' + value.SubAccountCode + '>' + value.SubAccountName + '</option>');

                });
            }
        });
    });

        $("#SubAccountCode").change(function () {
         var subAccountCode = $("#SubAccountCode").val();
         $("#SubSubAccountCode").empty();
         $("#SubSubSubAccountCode").empty();
        $("#SubSubAccountCode").append('<option value="">--Select--</option>');
        $("#SubSubSubAccountCode").append('<option value="">--View Existing Account--</option>');
        var json = { subAccountCode: subAccountCode };

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSubSubAccountByheadCode", "ChartOfAccount", new { area = "AccountsAndFinance" })',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(json),
            success: function (data) {


                $.each(data, function (key, value) {
                    //alert(key);
                    $("#SubSubAccountCode").append('<option value=' + value.SubSubAccountCode + '>' + value.SubSubAccountName + '</option>');

                });
            }
        });

        });

        $("#SubSubAccountCode").change(function () {
            var subSubAccountCode = $("#SubSubAccountCode").val();
            $("#SubSubSubAccountCode").empty();
            $("#SubSubSubAccountCode").append('<option value="">--View Existing Account--</option>');
            var json = { subSubAccountCode: subSubAccountCode };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetSubSubSubAccountByheadCode", "ChartOfAccount", new { area = "AccountsAndFinance" })',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function (data) {


                    $.each(data, function (key, value) {
                        //alert(key);
                        $("#SubSubSubAccountCode").append('<option value=' + value.SubSubSubAccountCode + '>' + value.SubSubSubAccountName + '</option>');

                    });
                }
            });

        });
    </script>
}
