@model NBL.Models.EntityModels.BarCodes.ViewCreateBarCodeModel
@{
    ViewBag.Title = "Generate BarCode";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    @using (Html.BeginForm("Generate","BarCode"))
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <h3 class="text-center text-green">Generate BarCode</h3>

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductName, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", placeholder = "Type Product name here.",@autofocus = "autofocus" })
                            <input type="hidden" id="ProductId" name="ProductId" />
                            @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductionDateCodeId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.ProductionDateCodeId, null, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductionDateCodeId, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductionLineId, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.ProductionLineId, null, "--Select--", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductionLineId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Total, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(model => model.Total, new { @class = "form-control", placeholder = "Total number.." })
                            @Html.ValidationMessageFor(model => model.ProductionLineId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 text-right">
                                <div class="btn toolbar">


                                    <a class="btn btn-danger" href="~/production">Cancel</a>
                                    <input type="submit" Class="btn btn-primary" value="Generate" />
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="form-group">
                        <div id="progress" style="display: none" class="text-center">
                            <img src="~/images/processing.gif" height="80" width="150"/>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    }
   
</section>

@section Scripts
{
    <script>

        $(function () {
            $("#ProductName").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: RootUrl + 'common/ProductNameAutoComplete/',
                        data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data,
                                function (item) {
                                    return item;
                                }));
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    $("#ProductId").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
    
    
<script type="text/javascript">
        function OnSuccess(response) {
            var message = "Barcode Generation Successfull!";
             window.location.reload();
             alert(message);
        }
        function OnFailure(response) {
            alert("Error occured.");
        }
</script>
}
